/03. env mod/env
/04. OOP Intro/env
/05. OOP part 2/env
/06. OOP part 4/env
/07. Databases/env
/07. Databases/lib/__pycache__
/08. Database  part2/env
/08. Database  part2/lib/__pycache__
/09. Django intro/env
/09. Django intro/core/core/__pycache__